<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro Usuario</title>

    <link rel="stylesheet" href="../styles/registerStyles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" rel="stylesheet">
</head>
<body>
    <header id="main-header-register">
        <section id="logo">
                <img src="../../../images/Logo.png" alt="Logo de la empresa">
                <h1>CooperApp</h1>
            </section>
    </header>
    <main class="main-content-desktop">
        <form class="d-flex flex-column m-4" id="registerForm" action="../pages/dashboard.html" method="POST">
            <label for="nombre" class="form-label" >Nombre
                <input type="text" class="form-control shadow-none" name="nombre" id="nombre" placeholder="Juancito" required>
                </input>
            </label>
            <label for="nombre" class="form-label" >Apellido
                <input type="text" class="form-control shadow-none" name="apellido" id="apellido" placeholder="Juancito" required>
                </input>
            </label>
            <label for="email" class="form-label" >Email
                <input type="email" class="form-control shadow-none" name="email" id="email" placeholder="Ejemplo@gmail.com" required>
                </input>
            </label>
            <label for="password" class="form-label" >Contraseña
                <input type="password" class="form-control shadow-none" name="contraseña" id="contraseña" placeholder="" required>
                </input>
            </label>
            <label for="password" class="form-label" > Ingrese de Nuevo la Contraseña
                <input type="password" class="form-control shadow-none" name="confirmar_contraseña" id="confirmar_contraseña" placeholder="" required>
                </input>
            </label>
            <label for="dni" class="form-label" >DNI
                <input type="text" pattern="[0-9]{7,8}" class="form-control shadow-none" name="dni" id="dni" required>
                </input>
            </label>
            <label for="fechaNac" class="form-label" >Fecha Nacimiento
                <input type="date" class="form-control shadow-none" name="fecha_nacimiento" id="fecha_nacimiento" required>
                </input>
            </label>
            <label for="Dir" class="form-label" >Domicilio
                <input type="text" class="form-control shadow-none" name="domicilio" id="domicilio" placeholder="Paris 1445,CABA,Argentina" required>
                </input>
            </label>
            <label for="codPost" class="form-label" >Codigo Postal
                <input type="text" class="form-control shadow-none" name="codigo_postal" id="codigo_postal" placeholder="1714" required>
                </input>
            </label>
            <button type="submit" class="btn btn w-100" style="background-color: #1a4a3a; color:white">Ingresar</button>
        </form>
    </main>    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../scripts/validatePassword.js"></script>
</body>
</html>